<h1>All Tasks</h1>

<div class="form-margin">
  <% @tasks.each do |task| %>
    
    <h2> 
      <%= link_to task.title.capitalize, task_path(task), :class => "link-text"%></span> 
    </h2>
    
    <p> <%= task.description %> </p>
    
    <hr>    
  <% end %>  
</div>

<%= link_to "Create a new Task", new_task_path, :class => "field submit-btn link-text" %>
