// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field{
  padding: 9px;
  border-radius: 3px;
  margin-left: 6%;
}

.text-area{
  margin-top: 2%;
  margin-left: 3%;
}

.submit-btn{
  margin-left: 8.5%;
  margin-top: 3%;
  background-color: black;
  color: wheat;
  border-radius: 5px;
  padding-right: 22px;
  padding-left: 22px;
  margin-bottom: 1%;
}

.comment-submit-btn{
  margin-left: 0%; 
  margin-top: 1%; 
  padding: 5px 20px 5px 20px;
  background-color: black;
  color: wheat;
  border-radius: 5px;
}

.link-text{
  text-decoration: none;
  margin-left: 0%;
  margin-top: 5%;
}

.form-margin{
  margin-bottom: 3%;
}

.title-font{
  font-size: 23px;
}

.back-margin{
  margin-left: 8.6%;
}

.comment-style{
  border-left: 6px solid red;
  background-color: lightgrey;
  padding: 14px;
}

.comment-hr{
  margin-bottom: 3%; 
  color: white;
  border-width: 0px;
}

.comments{
  margin-top:3%;
}
